.index{
    padding: .3rem;
    background: #fff; 
}
/* header */
header ul{
    font-size: .34rem;
    display: flex;
    justify-content: space-between;
}
  header ul li.router-link-active{
    color: #0BA1E9;
} 
header ul li.router-link-active p:last-child{
    text-align: center;
}
header ul li.router-link-active p:last-child span{
    display: inline-block;
    width: .6rem;
    border: .025rem solid #0BA1E9;
    border-radius: .08rem;
}
header .line{
    border-bottom: 1px solid #f6f6f6;
    position: relative;
    bottom: .1rem;
}

/*section  */
 section{
    margin:.3rem 0 1.7rem;
}
.noticeGroup{
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: .3rem;
}
.noticeGroup p{
    margin-top: .2rem;
}
 .noticeGroup p.title{
    font-size: .36rem;
}
.noticeGroup p.date{
    font-size: .28rem;
}
.noticeGroup p.content{
    font-size: .28rem;
}
.noticeGroup p.date .top{
    display: inline-block;
    border: .02rem solid #ff1919;
    border-radius: .08rem;
    color: #ff1919;
    width: .7rem;
    height: .4rem;  
    text-align: center;
    margin-right: .2rem;
}
.noticeGroup p.date .top,
.noticeGroup p.date .time{
    vertical-align: middle;
}
.noticeGroup p.date .time{
    color: #868686;
}
.noticeGroup .img{
    display: flex;
}
.noticeGroup .img img{
    border-radius: 8px;
    justify-content: space-between;
}
.noticeGroup .one img{
    width: 6.9rem;
    height: 3.8rem; 
}
.noticeGroup .two img{
    width: 3.4rem;
    height: 3.4rem; 
}
.noticeGroup .three img{
    width: 2.22rem;
    height: 2.22rem; 
}
.noticeGroup .two img:last-child,
.noticeGroup .two img:nth-child(2),
.noticeGroup .three img:last-child,
.noticeGroup .three img:nth-child(2){
    margin-left: .2rem;
}

